#sn5-gallery-a .sn5_container_gallery_img-positioner:nth-of-type(1) .sn5_gallery-image {
    background-image: url('gallery/photo-a.jpg');
}
#sn5-gallery-a .sn5_container_gallery_img-positioner:nth-of-type(2) .sn5_gallery-image {
    background-image: url('gallery/photo-b.jpg');
}
#sn5-gallery-a .sn5_container_gallery_img-positioner:nth-of-type(3) .sn5_gallery-image {
    background-image: url('gallery/photo-c.jpg');
}
#sn5-gallery-a .sn5_container_gallery_img-positioner:nth-of-type(4) .sn5_gallery-image {
    background-image: url('gallery/photo-d.jpg');
}
#sn5-gallery-a .sn5_container_gallery_img-positioner:nth-of-type(5) .sn5_gallery-image {
    background-image: url('gallery/photo-e.jpg');
}
#sn5-gallery-a .sn5_container_gallery_img-positioner:nth-of-type(6) .sn5_gallery-image {
    background-image: url('gallery/photo-f.jpg');
}

#sn5-gallery-b .sn5_container_gallery_img-positioner:nth-of-type(1) .sn5_gallery-image {
    background-image: url('gallery/photo-h.jpg');
}

#sn5-gallery-b .sn5_container_gallery_img-positioner:nth-of-type(2) .sn5_gallery-image {
    background-image: url('gallery/photo-g.jpg');
}

#sn5-gallery-b .sn5_container_gallery_img-positioner:nth-of-type(3) .sn5_gallery-image {
    background-image: url('gallery/photo-f.jpg');
}

#sn5-gallery-b .sn5_container_gallery_img-positioner:nth-of-type(4) .sn5_gallery-image {
    background-image: url('gallery/photo-d.jpg');
}

#sn5-gallery-b .sn5_container_gallery_img-positioner:nth-of-type(5) .sn5_gallery-image {
    background-image: url('gallery/photo-a.jpg');
}

#sn5-gallery-b .sn5_container_gallery_img-positioner:nth-of-type(6) .sn5_gallery-image {
    background-image: url('gallery/photo-c.jpg');
}

#sn5-gallery-c .sn5_container_gallery_img-positioner:nth-of-type(1) .sn5_gallery-image {
    background-image: url('gallery/photo-b.jpg');
}

#sn5-gallery-c .sn5_container_gallery_img-positioner:nth-of-type(2) .sn5_gallery-image {
    background-image: url('gallery/photo-a.jpg');
}

#sn5-gallery-c .sn5_container_gallery_img-positioner:nth-of-type(3) .sn5_gallery-image {
    background-image: url('gallery/photo-h.jpg');
}

#sn5-gallery-c .sn5_container_gallery_img-positioner:nth-of-type(4) .sn5_gallery-image {
    background-image: url('gallery/photo-g.jpg');
}

#sn5-gallery-c .sn5_container_gallery_img-positioner:nth-of-type(5) .sn5_gallery-image {
    background-image: url('gallery/photo-f.jpg');
}

#sn5-gallery-c .sn5_container_gallery_img-positioner:nth-of-type(6) .sn5_gallery-image {
    background-image: url('gallery/photo-e.jpg');
}