body {
  margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}

#s3-offers-section h2 {
  margin: 0;
  width: 200px;
  font-size: 1.075em;
  color: var(--white);
  padding-bottom: 0.2em;
  border-bottom: 1px solid var(--white);
  font-weight: 600;
}

#s3-offers-section a {
  text-decoration: none;
  color: var(--white);
}

:root {
  --gold: rgb(189, 165, 33);
  --white: rgb(199, 199, 199);
}

#s3-offers-section p {
  width: 75%;
  padding: 4px 0;
  margin: 0;
  font-size: 0.7rem;
}

/* The beginning of the offers section styles */

#s3-offers-section {
  height: 100vh;
  widows: 100vw;
  background: rgb(48, 47, 47);
  color: var(--white);
}

.s3-offers-box {
  padding: 8vh 5vw;
  box-sizing: border-box;
  height: auto;
}

.s3-offer {
  box-sizing: border-box;
  height: 24vh;
  margin-bottom: 4vh;
  padding: 15px;
  position: relative;
  background: rgb(24, 23, 23);
}

.s3-buy {
  position: absolute;
  top: 50%;
  left: 88%;
  border: 1.5px solid var(--white);
  padding: 4px 35px;
  border-radius: 500px;
}

.s3-premium-offer {
  border: 2px var(--gold) solid;
}

.s3-premium-title {
  margin: 0;
  width: 200px;
  font-size: 1.075em;
  color: var(--gold);
  padding-bottom: 0.2em;
  border-bottom: 1px solid var(--gold);
}

.s3-premium {
  border: 1.5px var(--gold) solid;
  color: var(--gold);
}

.s3-buy:hover {
  background-color: rgba(199, 199, 199, 0.1);
  animation: s3-animation 1s linear;
}

@media (max-width: 1080px) {
  .s3-buy {
    top: 80%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
  }
  #s3-offers-section {
    height: auto;
    width: 100vw;
  }
  .s3-offer {
    height: auto;
  }
  #s3-offers-section p {
    width: auto;
    margin-top: 10px;
    font-size: 0.6rem;
    padding-bottom: 10%;
  }
}

@media (max-width: 760px) {
  #s3-offers-section h2 {
    margin: 0 auto;
    text-align: center;
  }

  .s3-buy {
    position: initial;
    transform: none;
    width: 40px;
    margin: 0 auto;
    text-align: center;
  }

  .s3-premium-title {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 480px) {
  #s3-offers-section {
    height: auto;
  }

  #s3-offers-section p {
    margin-bottom: 2%;
  }

  .s3-offer {
    height: auto;
  }
}
/* The end of the offers section styles */

@keyframes s3-animation {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
/* The beginning of the contact section styles */

#s5-contact-section {   
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(48, 47, 47);
  box-sizing: border-box;
  color: #c6e2ff;
}

.s5-contact-box { 
  padding: 1vw;
  height: auto;
}


.s5-header {  
  font-family: "Vibur", cursive;
  padding-bottom: 2vw;
  min-height: 100%;
  font-size: 5em;
  text-align: center;
  animation: neon .08s ease-in-out infinite alternate;
  position: relative;
  bottom: 4vh;
  margin: 2vh;
}

.s5-box-phone{
  padding: 4vw;
  font-size: 3em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  right: 15vw;
  top: 2vw;
  margin-top: 2vh;  
  animation: neon .08s ease-in-out infinite alternate;
}

.s5-box-email{
  padding: 4vw;
  font-size: 3em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 2vh;
  left: 15vw;
  animation: neon .08s ease-in-out infinite alternate;
}

.s5-box-icons{
  display: flex;
  flex-direction: row;
  font-size: 5em;
  justify-content: space-around;
  position: relative;
  top: 3vh;
}

a {
  color: #fff;
  outline: 0;
  text-decoration: none; 
}

.fa-facebook-f:hover{   
  animation: neonfacebook .08s ease-in-out infinite alternate;
}

.fa-youtube:hover{   
  animation: neonyoutube .08s ease-in-out infinite alternate;
}

.fa-twitter:hover{   
  animation: neontwitter .08s ease-in-out infinite alternate;
}

.fa-instagram:hover{   
  animation: neoninstagram .08s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

@keyframes neonfacebook {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

@keyframes neonyoutube {
  from {
    text-shadow:
    0 0 6px rgba(228, 202, 202, 0.92),
    0 0 30px rgba(228, 202, 202, 0.34),
    0 0 12px rgba(196, 18, 41,0.52),
    0 0 21px rgba(196, 18, 41,0.92),
    0 0 34px rgba(196, 18, 41,0.78),
    0 0 54px rgba(196, 18, 41,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(228, 202, 202, 0.98),
    0 0 30px rgba(228, 202, 202, 0.42),
    0 0 12px rgba(196, 18, 41,0.58),
    0 0 22px rgba(196, 18, 41,0.84),
    0 0 38px rgba(196, 18, 41,0.88),
    0 0 60px rgba(196, 18, 41, 1);
  }
}

@keyframes neontwitter {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(29, 202, 255,0.52),
    0 0 21px rgba(29, 202, 255,0.92),
    0 0 34px rgba(29, 202, 255,0.78),
    0 0 54px rgba(29, 202, 255,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(29, 202, 255,0.58),
    0 0 22px rgba(29, 202, 255,0.84),
    0 0 38px rgba(29, 202, 255,0.88),
    0 0 60px rgba(29, 202, 255,1);
  }
}

@keyframes neoninstagram {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(209, 228, 202, 0.34),
    0 0 12px rgba(253, 244, 151,0.52),
    0 0 21px rgba(253, 89, 73,0.92),
    0 0 34px rgba(214, 36, 159,0.78),
    0 0 54px rgba(40, 90, 235,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(209,228,205,0.42),
    0 0 12px rgba(253, 244, 151,0.58),
    0 0 22px rgba(253, 89, 73,0.84),
    0 0 38px rgba(214, 36, 159,0.88),
    0 0 60px rgba(40, 90, 235,1);
  }
}

@media screen and (max-width: 960px) {
  #s5-contact-section {
    font-size: 12px;
    transition: all 1s ease-out
  }
  .s5-box-phone{
    right: 0vw;
    top: 0vw;
    transition: all 1s ease-out    
  }
  .s5-box-email{
    bottom: 0vh;
    left: 0vw;
    transition: all 1s ease-out 
  }
}

@media screen and (max-width: 680px) {
  #s5-contact-section {
    font-size: 8px;
    transition: all 1s ease-out
  }
} 

@media screen and (min-width: 680px) and (max-width: 960px){
  #s5-contact-section {
    font-size: 12px;
    transition: all 1s ease-out
  }
} 

@media screen and (min-width: 960px) {
  #s5-contact-section {
    font-size: 16px;
    transition: all 1s ease-out
  }
  .s5-box-phone{
    right: 15vw;
    top: 2vw;
    transition: all 1s ease-out    
  }
  .s5-box-email{
    bottom: 2vh;
    left: 15vw;
    transition: all 1s ease-out 
  }
}
/* The end of the contact section styles */
